<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.score_system1.mapper.StudentMapper">

    <!-- 插入学生信息 -->
    <insert id="insertStudent" parameterType="com.example.score_system1.entity.Student" useGeneratedKeys="true" keyProperty="stId">
        INSERT INTO Student (St_name, St_major, St_get_credit)
        VALUES (#{stName}, #{stMajor}, #{stGetCredit})
    </insert>

    <!-- 根据学生 ID 查询学生信息 -->
    <select id="selectStudentById" parameterType="String" resultType="com.example.score_system1.entity.Student">
        SELECT * FROM Student WHERE St_id = #{stId}
    </select>

    <!-- 更新学生信息 -->
    <update id="updateStudent" parameterType="com.example.score_system1.entity.Student">
    UPDATE Student
    SET St_name = #{stName}, St_major = #{stMajor}, St_get_credit = #{stGetCredit}
    WHERE St_id = #{stId}
    </update>

    <!-- 删除学生信息 -->
    <delete id="deleteStudent" parameterType="String">
        DELETE FROM Student WHERE St_id = #{stId}
    </delete>

    <!-- 分页查询所有学生信息 -->
    <select id="selectAllStudents" parameterType="map" resultType="com.example.score_system1.entity.Student">
        SELECT * FROM Student
        ORDER BY St_id
    </select>

</mapper>